* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  position: relative;
  min-height: 100vh;
  background: #2D1928;
}

.container h1 {
  color: #E8E8E8;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: normal;
}

.container .video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}